<a href="https://colab.research.google.com/github/zjubirdfly/WebCola/blob/master/GeneratePicture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Connect to google cloud and import data
import uuid
import pandas as pd
import numpy as np
import os
import glob
import shutil
from google.colab import auth
from google.colab import drive
project_id = 'directed-symbol-252319'
bucket_name = "chongqingtaxidata"
raw_data_bucket_name = "raw_taxi_data"
destination_path = "/content/Taxidata/"
auth.authenticate_user()
drive.mount('/content/drive')
!gcloud config set project {project_id}

In [0]:
#Copy files into system
!mkdir {destination_path}
!gsutil -m cp -r gs://{raw_data_bucket_name}/201703/25 {destination_path}

In [0]:
data_cols = ['date','time', 'label', 'tag','lat','lon','speed?','direction?','status', '?']
files = glob.glob("/content/Taxidata/25/20170325_041.TXT")

all_date_data = []
sample_data = []
for file in files:
    sample_data.append(pd.read_csv(file, sep=',',encoding='GB2312', names= data_cols, header=None,  dtype={'time': object}))

all_date_data = pd.concat(sample_data, axis=0, ignore_index=True)

In [8]:
# Generate N*N graph
N = 25

max_lat = 106.753129
min_lat = 106.273290
lat_range = (max_lat - min_lat) / N

max_lon = 29.878034
min_lon = 29.360739
lon_range = (max_lon - min_lon) / N

graph = np.zeros((N,N))

count = 0
previous_row = None
for index, row in all_date_data.iterrows(): 
  lat = row['lat']
  lon = row['lon']
  if lat > max_lat and lat < min_lat and lon > max_lon and lon < min_lon:
    continue

  #lat index
  lat_index = 0;
  if lat < min_lat:
    lat_index = 0
  elif lat > max_lat:
    lat_index = N - 1
  else:
    lat_index = int((lat - min_lat) / lat_range)
  lat_index = N - 1 - lat_index

  #lon index
  lon_index = 0;
  if lon < min_lon:
    lon_index = 0
  elif lon > max_lon:
    lon_index = N - 1
  else:
    lon_index = int((lon - min_lon) / lon_range)

  if previous_row is not None and previous_row['status'] == 0 and row['status'] == 1:
    count = count + 1
    graph[lon_index, lat_index] = graph[lon_index, lat_index] + 1
  previous_row = row
print(graph)
print(count)

[[3.100e+01 0.000e+00 0.000e+00 0.000e+00 2.000e+00 5.800e+01 1.200e+01
  1.200e+01 0.000e+00 9.000e+00 0.000e+00 1.250e+02 6.800e+01 5.100e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 7.000e+01 0.000e+00 8.800e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  2.800e+01 1.200e+01 1.100e+01 9.000e+00 1.060e+02 2.400e+02 1.000e+02
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00
  2.200e+01 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 1.100e+01 1.860e+02 9.000e+00 2.000e+01
  2.200e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 1.000e+01 0.000e+00 1.100e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 7.900e+01 7.300e+01 5.000e+00 1.000e+00
  6.700e+01 2.700e+01 3.400e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 1.030e+02 9.800e+01 6.800e+01 1.500e+01
  6.200e+01 0.000e+00 9.000e+01 3.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 2.000e+00
  9.000e+00 0.000e+00 1.500e+01 1.340e+02 8.800e+01 4.600e+01 5.000e+00
  1.990e+02 4.200e+01 8.000e+01 0.000e+00 6.000e+00 0.000e+00 0.000e+00
  2.000e+00 6.000e+00 1.000e+00 0.000e+00]
 [1.700e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 4.900e+01 5.400e+01
  1.400e+01 0.000e+00 1.440e+02 4.400e+01 1.670e+02 8.700e+01 3.570e+02
  3.060e+02 7.300e+01 4.900e+01 1.800e+01 1.100e+01 4.000e+00 8.000e+00
  8.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 1.000e+00 0.000e+00 0.000e+00 1.100e+01 4.700e+01 0.000e+00
  5.000e+00 9.300e+01 5.710e+02 6.500e+02 3.610e+02 9.610e+02 5.670e+02
  2.030e+02 2.600e+02 1.080e+02 2.000e+01 8.000e+00 1.600e+01 3.600e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [5.000e+00 0.000e+00 0.000e+00 0.000e+00 3.000e+00 9.000e+00 0.000e+00
  2.200e+01 1.380e+02 1.012e+03 7.630e+02 1.440e+02 8.370e+02 6.020e+02
  4.920e+02 3.200e+02 2.350e+02 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 7.000e+00 0.000e+00]
 [3.000e+00 0.000e+00 0.000e+00 1.000e+00 6.000e+00 2.000e+00 0.000e+00
  1.800e+01 2.210e+02 6.330e+02 8.840e+02 5.870e+02 5.380e+02 2.640e+02
  4.260e+02 6.360e+02 2.060e+02 1.300e+01 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 9.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 5.000e+00 0.000e+00 3.000e+00
  1.300e+01 2.510e+02 3.620e+02 1.043e+03 2.049e+03 8.950e+02 5.890e+02
  2.230e+02 1.650e+02 1.480e+02 2.200e+01 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 1.500e+01 3.300e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+01 1.700e+01 0.000e+00
  3.000e+00 9.900e+01 3.500e+01 3.800e+02 5.760e+02 7.490e+02 3.510e+02
  7.400e+01 1.000e+00 5.200e+01 0.000e+00 0.000e+00 2.100e+01 2.800e+01
  2.400e+01 5.000e+00 4.300e+01 1.130e+02]
 [1.400e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 5.000e+00 1.000e+00
  1.000e+00 1.200e+01 5.200e+01 2.150e+02 3.560e+02 2.430e+02 1.070e+02
  1.440e+02 2.000e+00 4.900e+01 0.000e+00 0.000e+00 6.000e+00 4.000e+01
  2.900e+01 3.600e+01 3.100e+01 1.000e+01]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  2.000e+00 1.260e+02 2.770e+02 1.370e+02 1.470e+02 4.500e+01 2.000e+00
  8.700e+01 0.000e+00 1.700e+01 1.500e+01 0.000e+00 3.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 4.000e+00 0.000e+00 8.000e+00 0.000e+00 0.000e+00 1.000e+00
  3.400e+01 1.460e+02 5.400e+01 1.030e+02 0.000e+00 6.000e+00 0.000e+00
  4.000e+00 7.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.800e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 8.000e+00
  1.540e+02 1.770e+02 4.600e+01 8.000e+00 1.000e+00 0.000e+00 0.000e+00
  2.000e+01 1.700e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 3.000e+00]
 [2.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.350e+02
  3.550e+02 3.900e+01 0.000e+00 4.100e+01 0.000e+00 0.000e+00 0.000e+00
  6.000e+00 2.500e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 2.100e+02
  1.310e+02 0.000e+00 0.000e+00 3.000e+00 1.000e+00 0.000e+00 0.000e+00
  0.000e+00 3.100e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 2.000e+00 8.700e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 4.000e+00
  8.000e+00 4.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 5.000e+00 3.500e+01 1.000e+01
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 1.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 9.000e+00 4.500e+01 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 5.000e+00 1.400e+01 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 3.000e+00 0.000e+00
  0.000e+00 1.000e+00 3.000e+00 1.700e+01 5.500e+01 1.000e+01 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 4.000e+00 0.000e+00
  0.000e+00 6.000e+00 2.720e+02 7.000e+01 6.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [3.200e+01 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 6.000e+00 5.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00]
 [1.140e+02 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00
  0.000e+00 0.000e+00 0.000e+00 6.200e+01]]
30351

In [0]:
all_date_data

            date    time label          tag  ...  speed?  direction?  status  ?
0       20170325  032010     H  渝0600314343  ...     0.0           0       0  1
1       20170325  032000     H  渝0600307706  ...     0.0           0       0  1
2       20170325  032004     H  渝0600315881  ...     0.0           0       0  1
3       20170325  032008     H  渝0600314468  ...     0.0           0       0  1
4       20170325  032041     H  渝0100501505  ...    35.5           0       1  1
...          ...     ...   ...          ...  ...     ...         ...     ... ..
239864  20170325  032105     H  渝0600307198  ...     0.0           0       0  1
239865  20170325  032305     H  渝0600307198  ...     0.0           0       0  1
239866  20170325  032305     H  渝0600307198  ...     0.0           0       0  1
239867  20170325  032305     H  渝0600307198  ...     0.0           0       0  1
239868  20170325  032305     H  渝0600307198  ...     0.0           0       0  1

[239869 rows x 10 columns]